<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Listado de Vacances</h1>

<div>
    <div *ngFor="let v of vacances; index as $i">Vacanca: {{v.nom}}
        <span class="link" (click)="removeVacanca(v)">remove</span>
        <span class="link" (click)="editVacanca(v.id!)">edit</span>
    </div>
</div>

<h1>Insertar Vacanca</h1>

<div>

    <form [formGroup]="vacancaForm">

        Nom:
        <input type="text" formControlName="nom" /> <br/>

        Preu:
        <input type="text" formControlName="preu" /> <br/>

        Pais:
        <input type="text" formControlName="pais" /> <br/>

        Descripcio
        <input type="text" formControlName="descripcio" /> <br/>

        <button type="button" (click)="saveVacanca()">Save Vacanca</button>

    </form>

</div>

</ion-content>
